/vendor
/node_modules
.idea/
Homestead.yaml
Homestead.json
.env
.idea/directories
/bower_components
/private
/public
!/public/.htaccess
!/public/index.php
composer.lock
/resources/views/vendor
/config/messenger.php
/resources/assets/sass/vendor
/database/migrations/*table.php
*.log