$max-width: 100em;



#analytics-grid {
  .row {
    clear:both;
    &:nth-child(even) {
      background: lightgray !important;
    }
    &:hover{
      background:powderblue;
    }
    .colOne {
      @include make-xs-column(1.5);
    }
    .colTwo {
      @include make-xs-column(1.5);
      word-break: break-all;
    }
    .colThree {
      @include make-xs-column(1.5);
    }
    .colFour {
      @include make-xs-column(1.5);
    }
    .colFive {
      @include make-xs-column(1);
    }
  }
}