$max-width: 100em;
#analytics-grid {
  @include outer-container;
  .grid-row {
    height:1em;
    &:hover{
      background:lightgray;
    }
    .colOne {
      @include span-columns(1.5);
    }
    .colTwo {
      @include span-columns(1.5);
      word-break: break-all;
    }
    .colThree {
      @include span-columns(1.5);
    }
    .colFour {
      @include span-columns(1.5);
    }
    .colFive {
      @include span-columns(1);
      @include omega;
    }
  }
}