$font-family-base: "Times New Roman";
$headings-font-weight: 600;
$icon-font-path: 'node_modules/bootstrap- sass/assets/fonts/bootstrap';
$fa-font-path: 'node_modules/font-awesome/fonts';
$border-radius-base: 10px;
$nav-tabs-border-color:                     #999;
$nav-tabs-active-link-hover-border-color:   #999 !default;

$fa-font-path: "/fonts/font-awesome";

@import 'node_modules/font-awesome/scss/font-awesome';
@import 'node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

//@import "node_modules/node-bourbon/node_modules/bourbon/app/assets/stylesheets/bourbon";
//@import "node_modules/node-neat/node_modules/bourbon-neat/app/assets/stylesheets/neat";

//@import "node_modules/bourbon/app/assets/stylesheets/bourbon";
//.loveing{
//  @include outer-container;
//
//}

a{
  text-decoration: underline;
}

@import "bourbon/bourbon";
@import "neat/neat";
@import "lobby";
@import "unattached";
@import "analytics";